.equipment-list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
}

.equipment-list__header {
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  width: 100%;

  >div {
    flex: 1 1 auto;
    text-align: center;
    font-weight: bolder;
  }

  @media (max-width: 576px) {
    display: none;
  }
}

.equipment-list__body {
  overflow: overlay;
  flex: 1 1 auto;
}

.equipment-list__add-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  background-color: var(--primary);
  border-radius: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  height: 48px;
  width: 48px;
  color: var(--white);

  @media (max-width: 330px) {
    height: 36px;
    width: 36px;
    border-radius: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
  }

  &:hover {
    cursor: pointer;
  }
}

.equipment-list-item {
  display: flex;
  flex-direction: row;

  >div {
    flex: 1 1 auto;
  }
}

.equipment-filters {
  flex: 0 0 auto;
}