.equipment-list {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
}

.equipment-list__header {
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  width: 100%;
  align-items: center;
  
  >div:nth-child(1) {
    flex: 1 1 10%;
  }
  >div:nth-child(2) {
    flex: 1 1 30%;
  }
  >div:nth-child(3) {
    flex: 1 1 10%;
  }
  >div:nth-child(4) {
    flex: 1 1 30%;
  }
  >div:nth-child(5) {
    flex: 1 1 20%;
  }

  >div {
    text-align: center;
    padding: 0 0.3rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 0.85rem;
  }

  >.sorted-by span {
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: auto;
      border: 4px solid transparent;
      border-top-color: var(--dark);
      left: -14px;
      top: 9px;
    }
  }
  

  @media (max-width: 576px) {
    display: none;
  }
}

.equipment-list__body {
  overflow: overlay;
  flex: 1 1 auto;
  display: flex;

  >.empty {
    width: 100%;
    text-align: center;
    align-self: center;
    background: center / contain no-repeat url("/images/empty.svg");
    height: 400px;
    line-height: 400px;
  }

  >.data {
    width: 100%;
  }
}

.equipment-list__add-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  background-color: var(--primary);
  border-radius: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  height: 48px;
  width: 48px;
  color: var(--white);

  @media (max-width: 330px) {
    margin-right: 16px;
    margin-bottom: 16px;
  }

  &:hover {
    cursor: pointer;
  }
}

.equipment-list-item {
  padding-left: 2rem;
  position: relative;
  
  &:hover {
    background-color: #F5F5F5;
  }

  .equipment-list-item__row {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    
    >div:nth-child(1) {
      flex: 1 1 10%;
      text-align: center;
    }
    >div:nth-child(2) {
      flex: 1 1 30%;
      text-align: center;
    }
    >div:nth-child(3) {
      flex: 1 1 10%;
      text-align: center;
    }
    >div:nth-child(4) {
      flex: 1 1 30%;
      text-align: center;
    }
    >div:nth-child(5) {
      flex: 1 1 20%;
      text-align: center;
    }

    >div {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0 0.3rem;
    }

    @media (max-width: 576px) {
      display: block;
      >div:nth-child(1) {
        font-weight: 700;
        font-size: 0.8rem;
        &::before {
          content: "Inv. №: ";
        }
      }
      >div:nth-child(2) {
        font-style: italic;
      }
      >div:nth-child(3) {
        display: none;
      }
      >div:nth-child(4) {
        display: none;
      }
      >div:nth-child(5) {
        &::before {
          content: "Verification expires: ";
        }
      }
    }
  }
}

.equipment-list-item__btn-remove {
  position: absolute;
  background: none;
  border: none;
  color: var(--danger);
  cursor: pointer;
  left: 12px;

  @media (min-width: 871px) {
    left: 24px;
  }
  @media (min-width: 721px) {
    left: 16px;
  }
}

.equipment-filters {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 3rem 1rem 3rem;

  >* {
    flex: 0 0 auto;
    margin-right: 2rem;

    >p {
      font-weight: 500;
      margin-bottom: 0.5rem;
    }
  }

  @media (max-width: 956px) {
    padding: 0.5rem 0 1rem 0;
    justify-content: space-around;

    >* {
      margin-right: 0;
    }
  }

  @media (max-width: 720px) {
    flex-direction: column;
    align-items: center;

    >* {
      margin-top: 0.5rem;
    }
  }

  .equipment-filters__search {
    >input {
      border: 1px solid #cacccd;
      width: 281px;
      height: 50px;
      padding-left: 0.5rem;
      border-radius: 0.25rem;
    }
  }

  @media (min-width: 516px) and (max-width: 720px) {
    >* {
      width: 60%;
    }

    .equipment-filters__search {
      >input {
        width: 100%;
      }
    }
  }

  @media (max-width: 515px) {
    >* {
      >p {
        display: none;
      }
    }
  }
}

.equipment-form {
  max-height: 458px;
  max-width: 310px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 8px;
}
