.header {
  flex: 0 0 auto;
}

.header__logo {
  @media (max-width: 870px) {
    >img {
      height: 48px;
      width: 48px;
    }
    >div {
      >small {
        display: none;
      }
    }
  }

  @media (max-width: 790px) {
    margin-left: 0 !important;
    >img {
      margin-right: 0 !important;
    }
    >div {
      >h2 {
        display: none;
      }
    }
    >button {
      margin-right: 0 !important;
    }
  }
}

.header__nav {
  >*:hover {
    text-decoration: none;
  }
  @media (min-width: 1144px) {
    >* {
      //font-size: 1.2rem;
    }
  }
  @media (max-width: 570px) {
    >* {
      margin: 0 1.5rem !important;
    }
  }
  @media (max-width: 460px) {
    >* {
      margin: 0 1rem !important;
    }
  }
  @media (max-width: 380px) {
    >* {
      margin: 0 0.5rem !important;
      font-size: 1.2rem;
    }
  }
}

.header__button {
  @media (max-width: 790px) {
    margin-right: 0 !important;
  }
}