.header {
  flex: 0 0 auto;
}

.header__logo {
  flex: 0 0 auto;

  @media (max-width: 870px) {
    >img {
      height: 48px;
      width: 48px;
    }
    >div {
      >small {
        display: none;
      }
    }
  }

  @media (max-width: 790px) {
    margin-left: 0 !important;
    >img {
      margin-right: 0 !important;
    }
    >div {
      >h2 {
        display: none;
      }
    }
    >button {
      margin-right: 0 !important;
    }
  }
}

.header__nav {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-around;
  margin: 0 10%;

  >a {
    font-weight: 500;
    &:hover {
      text-decoration: none;
      color: var(--primary) !important;
    }

    >svg {
      margin-right: 0.3rem;
    }
  }

  @media (min-width: 1144px) {
    >* {
      font-size: 1.1rem;
    }
  }
  @media (max-width: 700px) {
    margin: 0 5%;
  }
  @media (max-width: 570px) {
    margin: 0 10%;
    >* {
      font-size: 1.2rem;

      >svg {
        margin-right: 0;
      }
    }
  }
  @media (max-width: 380px) {
    margin: 0 5%;
    >* {
      margin: 0 0.5rem;
    }
  }
}

.header__button {
  flex: 0 0 auto;
  @media (min-width: 1144px) {
    font-size: 1.1rem;
  }
  @media (max-width: 790px) {
    margin-right: 0 !important;
  }
}