.login-page {
  height: 100vh;
}

.login-page__description {
  display:flex;
  justify-content:center;
  align-items: center;
  flex-flow: column;

  @include media-breakpoint-up(md) {
    button {
      display: none;
    }
  }
}

.login-page__auth {
  justify-content: center;
  align-items: center;
  flex-flow: column;
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
  }
}
