.custom-scrollbar::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: #0051a6;
}

@media (max-width: 620px) {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 2px;
  }
}