.selected {
  color: var(--primary) !important;
}

a.header-navlink:hover {
  color: var(--primary) !important;
}

.private-page {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.private-page__content {
  flex: 1 1 auto;
}
